<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= file.originalFilename %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include("components/header") %>
    <h1><%= file.originalFilename %></h1>
    <ul>
        <li>Size: <%= file.size %> bytes</li>
        <li>Uploaded at: <%= file.uploadedAt %></li>
        <li>
            <a href="/file/download/<%= file.id %>">
                <button>Download</button>
            </a>
        </li>
    </ul>
</body>
</html>